#head1{
    position: relative;
    width: 100%;
    background-image: url(/img/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
  }
  
  #cause{
    background-color: black;
    margin-bottom: 100px;
    position: relative;
  }
  
  .monitor{
    margin: 0;
    padding: 0;
    height: 80%;
    position: relative;
  }
  #left{
  position: relative;
      width: 12vh;
      height: 12vh;
      background-image: url(img/test.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 35vh;
      margin-left: 10vw;
      z-index: 2;
      filter: brightness(80%);
      transform: rotate(90deg);
  }
  #left:hover{
      filter: brightness(110%);
      cursor: pointer;
  }
  
  #right{
    position: relative;
        width: 12vh;
        height: 12vh;
        background-image: url(img/test.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 35vh;
        float: right;
        margin-right: 10vw;
        z-index: 2;
        filter: brightness(80%);
        transform: rotate(-90deg);
    }
    #right:hover{
        filter: brightness(110%);
        cursor: pointer;
    }