@font-face {
    font-family: Deepsea;
    src: url(Font/UID\ Deep\ sea.ttf);
  }
  @font-face {
    font-family: CSPraKas;
    src: url(Font/CS_PraKas/CSPraKas.otf);
  }
  @font-face {
    font-family: CSPraKasBold;
    src: url(Font/CS_PraKas/CSPraKasBold.otf);
  }
  @font-face {
    font-family: Athiti;
    src: url(Font/Athiti/Athiti-SemiBold.ttf);
  }
  @font-face {
    font-family: AthitiM;
    src: url(Font/Athiti/Athiti-Medium.ttf);
  }

#copecontent {
    position: relative;
    width: 100%;
    background-image: url(/Artwork/Cope/Untitled_Artwork-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30vw;
}

#copehead{
  background-image: url(/Artwork/Cope/Cope.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sub-title{
    opacity: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contentContainer{
    margin: 0;
    padding: 0;
    width: 100%;
}

.halfcontent{
    margin: 0;
    display: inline-block;
    position: relative;
    width: 35%;
    padding: 5%;
    padding-left: 7%;
    padding-right: 7%;
    font-family: CSPraKas;
    font-size: 1.25vw;
    transition: 2s;
}

.halfcontent h1{
    font-family: Deepsea;
}

.halfcontent h2{
    font-family: CSPraKasBold;
    margin-top: 1.vw;
    margin-bottom: .5vw;
}

#midboat{
    height: 20vw;
    overflow-x: hidden;
}

#tt1{
  font-size: 3vw;
  text-shadow: 2px 2px 4px #242424;
}
#tt2{
  font-size: 4vw;
  text-shadow: 2px 2px 4px #242424;
}
#tt3{
  font-size: 6.5vw;
  color: #f04342;
  text-shadow: 2px 2px 4px #242424;
}

.slide{
  transition: 2s;
}

#house1{
  animation-name: house1Animation;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes house1Animation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -52.5%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

#house2{
  animation-name: house2Animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes house2Animation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

#house3{
  animation-name: house3Animation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes house3Animation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -58%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

#boat1{
  animation-name: boat1Animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}
@keyframes boat1Animation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -47%) rotate(-1.5deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

#boat2{
  animation-name: boat2Animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes boat2Animation {
  0% {
    left: -15%;
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -45%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  75% {
    transform: translate(-50%, -45%);
  }
  100% {
    left: 115%;
    transform: translate(-50%, -50%);
  }
}

#boat3{
  animation-name: boat3Animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}
@keyframes boat3Animation {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, -48%) rotate(-.5deg);
  }
  100% {
    transform: translate(0, -50%);
  }
}