body{
  color: #ededed;
  overflow-x: hidden;
}

@font-face {
  font-family: Deepsea;
  src: url(Font/UID\ Deep\ sea.ttf);
}
@font-face {
  font-family: CSPraKas;
  src: url(Font/CS_PraKas/CSPraKas.otf);
}
@font-face {
  font-family: Athiti;
  src: url(Font/Athiti/Athiti-SemiBold.ttf);
}
@font-face {
  font-family: AthitiM;
  src: url(Font/Athiti/Athiti-Medium.ttf);
}

#head1{
  position: relative;
  width: 100%;
  background-image: none;
  background-color: black;
}

.head{
  position: absolute;
  font-family: Athiti;
  color: #ededed;
  font-size: 10vw;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0%);
}

.head_title{
  position: absolute;
  width: 100%;
  font-family: Deepsea;
  color: #ededed;
  font-size: 3vw;
  top: 48%;
  transform: translate(15%, 0%);
  text-align: center;
}

#prevent{
  position: relative;
  width: 100%;
  height: auto;
}

.vertical-subprevent{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20vw;
}

.horizon-subprevent{
  position: relative;
  display: inline-block;
  width: 49vw;
  height: 100%;
}

.sub-horizon-subprevent{
  position: relative;
  width: 100%;
  height: 50%;
}

.pic-prevent{
  position: relative;
  width: 30%;
  transform: translate(100%);
  margin-bottom: 3vw;
}

.head-text{
  font-size: 2vw;
  font-family: Deepsea;
  text-align: center;
}

#text{
  position: relative;
  width: 100%;
  font-family: CSPraKas;
  font-size: 1.25vw;
  text-align: center;
  color: #ededed;
  padding-left: 20%;
  padding-right: 20%;
}

#bottom{
  padding-top: 15vw;
}

.sub-bottom-up{
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  color: #ededed;
  text-align: center;
}

.sub-bottom-down{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20vw;
  text-align: center;
  padding-top: 5%;
}

.bottom-text{
  font-family: Deepsea;
  font-size: 3em;
  padding-top: 10%;
}

.bottom-button{
  color: #ededed;
  font-family: Athiti;
  font-size: 2em;
  text-decoration: none;
  background-color:  #353439;
  padding:1% 5%;
  border-radius: 40px;
  width: 10%;
  cursor: pointer;
}

.bottom-button:hover{
  text-decoration: none;
  color: #ededed;
  text-shadow: 0px 0px 5px #ededed;
  background-color:rgba(223, 175, 175, 0.8);
}