body{
    background-color: lightblue;
}

ul{
    list-style-type: none;
    margin: 0;
    background: none;
    overflow: inherit;
    position: fixed;
    top: 0px;
    padding-left: 50%;
    z-index: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

li a:hover {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.300);
}

#title{
    background-image: url("Artwork/Artwork-1.png");
    width: 100%;
    height: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}


#namtuamkrung_txt{
    font-size: 100px;
    text-align: center;
}

#space{
    height: 15%;
}

#title_text{
    clear:both;
    padding-left: 5%;
    color: white;
}

.title_text_firstline{
    font-size: 30px;
}
.title_text_secondline{
    font-size: 40px;
}

.title_text_thirdlind{
    font-size: 20px;
}

#timeline{
    height: 2000px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#timeline_title_text{
    clear:both;
    padding-left: 5%;
    color: black;
    margin-bottom: 100px;

}

#timeline_left{
    background-color: skyblue;
    height: 1900px;
}

#timeline_mid{
    background-color: black;
    height: 1900px;
}

#timeline_right{
    background-color: red;
    height: 1900px;
}
