body{
    background-color: lightblue;
    color: #EDEDED;
    overflow-x: hidden;
}

@font-face { font-family: Deepsea; src: url(Font/UID\ Deep\ sea.ttf); }
@font-face { font-family: CSPraKas; src: url(Font/CS_PraKas/CSPraKas.otf); }
@font-face { font-family: Athiti; src: url(Font/Athiti/Athiti-SemiBold.ttf); }

nav{
    background-color: brown;
}

ul.horizontal{
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;
}
ul.horizontal li{
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-family: 'Athiti';
}
li a:hover {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.300);
}

.scene{
    margin: 0;
    padding: 0;
    height: auto;
}
#timeline{
    background-color: black;
    margin-bottom: 100px;
}
.subscene{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#head1{
    position: relative;
    width: 100%;
    height: 300vh;
    background-image: url(/Artwork/Artwork-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}
#head1BottomImg{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sub-title{
    font-family: Deepsea;
    margin-left: 7%;
}
#st1{
    font-size: 1.15em;
    color: #EDEDED;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 39%;
    font-family: CSPraKas;
}
.sub-timeline{
    margin: 0;
    padding: 0;
    margin-top: 75px;
    text-align: center;
}
.defTL{
    width: 47.5%;
    padding-right: 10%;
    padding-left: 10%;
    font-family: CSPraKas;
    color: #EDEDED;
    margin-bottom: 200px;
}
.midTL{
    width: 5%;
}
.lineTL{
    height: 100%;
    width: 10%;
    margin-left: 45%;
    background-color: #EDEDED;
}

#redmap{
    margin-left: 7%;
    position: relative;
}
#redmap img{
    width: 93%;
}
#hidmap{
    position: absolute;
    top: 0;
    left: 0;
}

#effCountry{
    padding-top: 2.5%;
    color: #EDEDED;
}
.sub-effCountry{
    width: 32%;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: CSPraKas;
}



